/*****************************************************************************/
/*
/* Digital Methods Syllabus Style Sheet
/*
/*****************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Raleway:500);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);
@import url(http://fonts.googleapis.com/css?family=Oswald:400);


@media screen {

body {
  background-color: #e7eadf;
}



#syllabus-new {
  font-family: 'Lato', sans-serif;
  font-family: 'Oxygen', sans-serif;
  line-height: 1.4em;
  text-align: left;
  font-size: 20px;
  color:#333;
  padding-bottom:2em;
}

#syllabus-new p strong {
  font-weight: 400;
  color:#ccc;
}

#syllabus-new h4 {
font-family: 'Raleway', sans-serif;
font-size: 110%;
line-height: 1.5em;
text-transform: uppercase;
color:#ece9e8;
margin-bottom:.5em;
background:#aaa;
padding:.5em;
}

#syllabus-new div.highlight {
  margin: 0;
  padding: .5em 1em .5em 1em;
  background: #a00;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color:#fff;
}


#syllabus-new div.highlight h2{
  color:#fff;
  margin-top:.5em;
}

#syllabus-new ul {
margin-left:2em;
}

.container {
  width: 54em;
  margin: 0em auto 0em;
  font-family: 'Ubuntu', sans-serif;
  padding:0 0 0 0;
  font-size: 16px;
  clear:both;
 }

.title {
margin:3em 0 0 0 ;
background-color: #333;
width: 100%;
padding:0 0 .5em 0;
border-top:4px solid green;
border-bottom:4px solid green;
text-align: left;
}

.container h1 {
font-family: 'Oswald', sans-serif;
font-size: 500%;
line-height: 100%;
color:#f46f36;
margin:0;
padding:.3em 0 .3em 0;  
}

.container h2 {
font-family: 'Raleway', sans-serif;
font-size: 200%;
line-height: 1.3em;
text-transform: uppercase;
color:#f46f36;
}

.container h3 {
font-family: 'Oswald', sans-serif;
font-size: 250%;
line-height: 1.5em;
text-transform: uppercase;
color:#f46f36;
border-bottom: 4px solid green;
margin-bottom:.5em;
padding-bottom:0px;
}

.week {
  float:left;
  clear:both;
  line-height: 1.3em;
  margin:0em 0 0em 0;
  border-top:1px dashed gray;
}

.wdate {
  position:absolute;
  margin-left:-2em;
  padding-right:2em;
transform:rotate(-90deg);
-ms-transform:rotate(-90deg); /* IE 9 */
-webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
}

.left_box {
width:26em;
float:left;
margin:0 1em 0em 0;
padding:0em;
//border:1px dashed #333;
}


.right_box {
width:26em;
float:left;
padding-left:.5em;
//border:1px dashed #333;  
}


#main-content h3 {
font-family: 'Oxygen', sans-serif;
font-weight: normal;
color:#cccccc;
font-size: 100%;
}

#perm-nav-bar {
    background-color: #555;
    overflow: hidden;
    position:fixed;
    display: block;
    width:100%;
    padding:.5em 0 0 0;
    margin:0;
    top:0px;
    z-index:15;
    opacity: 1;
    height:2.5em;
}

.perm-navigation {
  width:53em;
  text-align: center;
}

#HiddenMenu {
    background-color: #555;
    position: relative;
    height:15em;
    padding:0;
    margin:0em 0 0 0;
    text-align: left;
    z-index: 8;
    top:0px;

}

#HiddenMenu .container {
  width:53em;
}

#HoverSpace {
    //background-color: #aeaeae;
    overflow: hidden;
    height: 200px;
    position:fixed;
    width:100%;
    padding:0;
    margin:0;
    top:0px;
    z-index:10;
    float:left;
}

#HiddenMenu ul {
list-style-type: none;
}

#HiddenMenu li {
  padding: .5em 2em 0 0;
}

#HiddenMenu div.month-col {
  float:left;
  border:0px solid green;
  margin-right:1em;
}

#HiddenMenu .last {
margin-right:0;
padding-right:0;
}

#HiddenMenu li.date {
font-family: 'Roboto Condensed', sans-serif;
font-size: 75%;
line-height: .8em;
text-transform: uppercase;
color:#aaa;
border:none;
margin: .8em 0 0em 0em;
display: block;
}

#HiddenMenu li.topic {
font-family: 'Oxygen', sans-serif;
font-weight: normal;
color:#ccc;
font-size: 80%;
margin: 0em 0 0em 0em;
}

#HiddenMenu li a {
  border:none;
  color:#ccc;
}

#HiddenMenu li.title a {
    //font-size:24px;
    color:#900;
  }

#HiddenMenu li.title a:hover {
    color:#f00;
  }

#HiddenMenu li a:hover {
    color:#fff;
  }

#HiddenMenu li.low a {
  color:#555;
  }

#HiddenMenu li.low a:hover {
  color:#999;
  }

.perm-navigation li {
 color:#f46f36;
}

.perm-navigation li a:hover{
 color:#fff;
}


ul.navigation {
  display: none;
}


} /* end media screen */


/*****************************************************************************/
/*
/* SMALL SCREEN
/*
/*****************************************************************************/
@media screen and (max-width: 560px) {
 

body {
  background-color: #eee;
  padding:.5em;
}

a {
  color:#c70;
}

#perm-nav-bar {
  display: none;
}

.perm-navigation {
  display: none;
}

.navigation {
  width:100%;
}

.navigation li a{
  color:#333;
  text-decoration: none;
  border:none;
}

  .container {
    width: 100%;
  }

.container h1 {
  display:none;
}

.container h3 {
  font-size:120%;
}

.title {
  display:none;
}

#HiddenMenu {
  display:none;
}

  nav h1.title {
    display:none;
  }

  nav h1.navheader {
    font-size: 150%;
  }

  ul.posts span {
    color:#999;
    display:block;
  }

  a {
    text-decoration: none;
    border:none;
  }

  ul.posts li {
    line-height: 1em;
    margin-bottom: 1.5em;
  }

#syllabus-new {
  font-family: 'Lato', sans-serif;
  width:100%;
  font-weight: 400;
  font-size: 100%;
  color:#333;
  line-height: 1.4em;
  text-align: left;
}

#syllabus-new h2 {
  font-family: oxygen;
  font-size:150%;
  font-weight: bold;
}

.week {
  float:left;
  clear:both;
  line-height: 1.3em;
  margin:0em 0 0em 0;
  border-top:1px dashed gray;
}


.left_box {
width:100%;
float:left;
margin:0 0em 0em 0;
padding:0;
}


.right_box {
width:100%;
float:left;
clear:both;
margin:0 0em 0em 0;
padding:0;
}


.footer {
  display: none;
}

}

/*****************************************************************************/
/*
/* PRINTING
/*
/*****************************************************************************/

@media print {


  @page {margin: 2.5cm;}

  body {
    font-weight: normal;
    font-family: times;
    padding:0;
    margin: 0;
  }

.container {
  margin:0;
}

  .site {
    width:35em;
    margin:0;
    padding:0;
   }

#syllabus-new {
  font-size: 90%;
}

#syllabus-new h1 {
  font-size: 130%;
}

  nav {
    display:none;
  }

  .footer {
    display:none;
  }

p, div, ul, li {
    font-weight: normal;
}

div p {
  font-weight: normal;
}


ul li {
  font-family: times;
  font-weight: normal;
  font-weight: normal;
  font-size:100%;
}

h2 {
  clear:both;
}

h3 {
  font-weight: normal;
}

.photo1, .photo2, .photo3, .photo4, .photo5 {
  height:0px;
  display:none;
}

#syllabus-new .section-photo-break {
  display:none;
  background-image:none;
}

#HiddenMenu, #HoverSpace { 
  display:none;
}

hr {
  clear:both;
}

  .page-break { display: block; page-break-before: always; }


}