/*****************************************************************************/
/*
/* Digital Mapping Syllabus
/* Full-screen; large images as breaks; large red bands; dark gray background; 
/*
/*****************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Raleway:500);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);
@import url(http://fonts.googleapis.com/css?family=Oswald:400);


@media screen {

body {
  background-color: #f0eef0;
}

p {
  margin:0 0 1.2em 0;
}

#syllabus-new {
  font-family: 'Lato', sans-serif;
  font-family: 'Oxygen', sans-serif;
  line-height: 1.2em;
  text-align: left;
  font-size: 20px;
  color:#333;
  padding-bottom:2em;
}

#syllabus-new p strong {
  font-weight: 700;
  color:#a00;
}

#syllabus-new div.highlight {
  margin: 0;
  padding: .5em 1em .5em 1em;
  background: #a00;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color:#fff;
}


#syllabus-new div.highlight h2{
  color:#fff;
  margin-top:.5em;
}

#syllabus-new ul {
margin-left:2em;
}


.container {
  width: 42em;
  margin: 0em auto 0em;
  font-family: 'Ubuntu', sans-serif;
  padding:0 0 0 0;
  font-size: 16px;
  clear:both;
 }

.title {
margin:3em 0 0 0 ;
background-color: #f0eef0;
width: 100%;
padding:.5em 0 .5em 0;
border-top:3px solid #888;
border-bottom:3px solid #888;
text-align: left;
}

.title .container {
  width:55em;
}

.container h1 {
font-family: 'Oswald', sans-serif;
font-size: 500%;
line-height: 100%;
color:#993333;
margin:0;
padding:.1em 0 .2em 0;    
}

.container h2 {
font-family: 'Raleway', sans-serif;
font-size: 200%;
line-height: 1.3em;
text-transform: uppercase;
color:#993333;
}

.container h3 {
font-family: 'Raleway', sans-serif;
font-size: 250%;
line-height: 1em;
text-transform: uppercase;
color:#993333;
margin: 1.5em 0 .4em 0;
}


#syllabus-new h4 {
font-family: 'Raleway', sans-serif;
font-size: 80%;
line-height: 1.3em;
text-transform: uppercase;
color:#993333;
margin:.4em 0 0 -5em;
position:absolute;
z-index: 0;
}

#main-content h3 {
font-family: 'Oxygen', sans-serif;
font-weight: normal;
color:#cccccc;
font-size: 100%;
}


#perm-nav-bar {
    background-color: #663333;
    overflow: hidden;
    position:fixed;
    width:100%;
    padding:.5em 0 0 0;
    margin:0;
    top:0px;
    z-index:15;
    opacity: 1;
    height:2.5em;

}

.perm-navigation {
  width:53em;
 }


#HiddenMenu {
    background-color: #663333;
    position: relative;
    height:16em;
    padding:0;
    margin:0em 0 0 0;
    text-align: left;
    z-index: 10;
    top:0px;

}

#HiddenMenu .container {
  width:55em;
}

#HoverSpace {
    //background-color: #aeaeae;
    overflow: hidden;
    height: 200px;
    position:fixed;
    width:100%;
    padding:0;
    margin:0;
    top:0px;
    z-index:10;
}

#HiddenMenu ul {
list-style-type: none;
}

#HiddenMenu li {
  padding: .5em 2em 0 0;
}

#HiddenMenu div.month-col {
  float:left;
  width:10em;
  border:0px solid ea2a2b;
}

#HiddenMenu li.date {
font-family: 'Roboto Condensed', sans-serif;
font-size: 75%;
line-height: .8em;
text-transform: uppercase;
color:#aaa;
border:none;
margin: .8em 0 0em 0em;
display: block;
}

#HiddenMenu li.topic {
  font-family: 'Oxygen', sans-serif;
font-weight: normal;
color:#ccc;
font-size: 80%;
margin: 0em 0 0em 0em;
}

#HiddenMenu li a {
  border:none;
  color:#ccc;
}

#HiddenMenu li.title a {
    //font-size:24px;
    color:#900;
  }

#HiddenMenu li.title a:hover {
    color:#f00;
  }

#HiddenMenu li a:hover {
    color:#fff;
  }

#HiddenMenu li.low a {
  color:#555;
  }

#HiddenMenu li.low a:hover {
  color:#999;
  }

.perm-navigation li a:hover {
  color:#fff;
}

.perm-navigation li {
 color:#eee;
}

ul.navigation {
  display: none;
}

} /* end media screen */


/*****************************************************************************/
/*
/* SMALL SCREEN
/*
/*****************************************************************************/
@media screen and (max-width: 560px) {


body {
  background-color: #eee;
}
  
a {
  color:#c70;
}

#perm-nav-bar {
  display: none;
}

.navigation {
  width:100%;
}

.navigation li a{
  color:#333;
  text-decoration: none;
  border:none;
}

.perm-navigation {
  display: none;
}

  .container {
    width: 100%;
  }

.container h1 {
  display:none;
}

.container h3 {
  font-size:120%;
}

.title {
  display:none;
}

#HiddenMenu {
  display:none;
}

  nav h1.title {
    display:none;
  }

  nav h1.navheader {
    font-size: 150%;
  }

  ul.posts span {
    color:#999;
    display:block;
  }

  a {
    text-decoration: none;
    border:none;
  }

  ul.posts li {
    line-height: 1em;
    margin-bottom: 1.5em;
  }

#syllabus-new {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 100%;
  color:#aaa;
  line-height: 1.4em;
  text-align: left;
  background-color: #eee;
  width:100%;
  padding:0 .5em 0 .5em;
}

#syllabus-new h2 {
  font-family: oxygen;
  font-size:150%;
  font-weight: bold;
}

.footer {
  display: none;
}

}

/*****************************************************************************/
/*
/* PRINTING
/*
/*****************************************************************************/

@media print {


  @page {margin: 2.5cm;}

  body {
    font-weight: normal;
    font-family: times;
    padding:0;
    margin: 0;
    font-size: 90%;
  }

#perm-nav-bar {
  display:none;
}

#HiddenMenu { 
}

h1.navheader {
  display:none;
}

ul.navigation {
  display:none;
}

.container {
  margin:0;
}

  .site {
    width:35em;
    margin:0;
    padding:0;
   }

#syllabus-new {
  font-size: 90%;
}

#syllabus-new h1 {
  font-size: 130%;
}

  nav {
    display:none;
  }

  .footer {
    display:none;
  }

p, div, ul, li {
    font-weight: normal;
}

div p {
  font-weight: normal;
}


ul li {
  font-family: times;
  font-weight: normal;
  font-weight: normal;
  font-size:100%;
}

h2 {
  clear:both;
}

.container h3 {
font-family: 'Raleway', sans-serif;
font-size: 150%;
line-height: 1em;
text-transform: uppercase;
color:#993333;
margin: 1.5em 0 .4em 0;
}

#syllabus-new h4 {
font-size: 100%;
text-transform: uppercase;
color:#993333;
margin: 0em 2em 0 0em;
position:relative;
z-index: 0;
float:left;
}

hr {
  clear:both;
}

  .page-break { display: block; page-break-before: always; }


}