/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FeFeFe;
  font-family: 'Alegreya', serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin:1.5em 0 0 0;
}

h1 {
  margin:0;
  font-size: 130%;
}

h2 {
  margin:1.5em 0 .5em 0;
  font-size: 120%;
  border-bottom:1px solid gray;
}

h3 {
  font-size: 110%;
}

h4 {
  margin:0;
  font-size: 105%;
}

p { margin: 0em 0 1em 0; }

a {
  text-decoration: none;
  border-bottom:1px dotted;
}

a         { color: #f90; }
a:hover   { color: #a00; }
a:visited { color: #960; }

table {
  font-size: inherit;
  font: 100%;
}

.caps {
  text-transform: uppercase;
  font-size: 80%;
}

.clear {
  clear:both;
}

img {
  padding:1em;
}

.right {
  float:right;
}

.left {
  float:left;
}

nav {
  font-family: 'Oxygen', sans-serif;
  font-size: 90%;
}

nav a {
  font-weight: normal;
  text-decoration: none;
  border:none;
}

nav h1.title {
  display: inline;
  float:left;
}

nav h1.title a, nav h1.navheader a, nav h1.navheader a:visited{
  font-weight: bold;
  color:#900;
}

.navigation {
  max-width:none;
  list-style-type: none;
  padding-top:3px;
}

.navigation li {
  float:left;
}

.navigation li a {
  display: block;
  color: #aaa;
  margin-left: 1em;
}

.navigation li a:hover {
  color: #000;
}

.slide-trigger {
  display: none; /* need this */
  border: 1px solid #CCCCCC;
  cursor: pointer;
  padding: .3em .3em;
  color:#900;
}

.slide-trigger span {
  display: block;
  float: right;
}

.slide-trigger span img {
  height:1em;
  margin:0;
  padding:0em .2em 0 0;
}

.below-nav {
  clear:both;
  padding-top: 2em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container {
  width: 36em;
  margin: 1em auto 2em;
 }

.site {
  text-align: justify;
  line-height: 1.5em;
  padding:0 1em 0 1em;
}

.site .meta {
  color: #aaa;
  margin:0 0 4px 0;
  line-height: 1em;
  font-size: 90%;
}

.site .footer {
  padding: 8px 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 80%;
  color: #666;
  border-top: 3px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

img.footer-icon {
  height:16px;
  vertical-align:middle;
  padding:0;
  margin:0; 
}

li {
margin-bottom:.4em;  
}

li ul li {
  color:#666666;
  list-style: none;
  margin-bottom:1em;
}



/*****************************************************************************/
/*
/* Posts Home
/*
/*****************************************************************************/
ul.posts {
  font-family: 'Oxygen', sans-serif;
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

#home {
  text-align: left;  
}
/*****************************************************************************/
/*
/* Homepage
/*
/*****************************************************************************/

.hometext {
  font-family: sans-serif;
  font-family: 'Alegreya', serif;
  font-size:120%; 
  text-align:justify; 
  line-height:1.3em;
}

.hometext a {
  text-transform: uppercase;
  font-size: 80%;
  font-family: 'Oxygen', sans-serif;
  color:#ff9900;
  text-decoration: none;
}

.hometext p {
  margin-bottom:1.5em;
}

.homename {
  font-family: 'Oxygen', sans-serif;
  font-size:400%; 
  letter-spacing:-3px; 
  font-weight:bold; 
  color:#990000; 
  margin:0px 0 4px 0;
}

.hometag {
  font-size:90%;
  font-family: 'Oxygen', sans-serif;
  color:#666666;
  margin: .8em 0 2em .3em; 
}



/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
  font-family: 'Alegreya', serif;
}

.post h1 {
  margin-bottom:1em;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

blockquote {
  color:#555;
  width:40%;
  border-top:1px solid #999;
  border-bottom:1px solid #999;
  font-style: italic;
  padding:.5em;
  margin:.5em;
}

blockquote.left, img.left{
  margin-right:2em;
}

blockquote.right, img.right {
  margin-left: 2em;
}

blockquote .full {
width: 80%;
border:none;
}

blockquote p {
  padding:0;
  margin:0;
}

.caption {
  font-size:80%;
  line-height: 1.2em;
  font-family: 'Oxygen', sans-serif;
  display:block;
}

/*****************************************************************************/
/*
/* Publications
/*
/*****************************************************************************/
.publications ul li {
  line-height: 1.2em;
  list-style-type: none;
  margin-bottom: 1.5em;
}

.pub-links {
  font-family: 'Oxygen', sans-serif;
  font-size: 80%;
}

.publications h1 {
  border-bottom:1px dotted #666;
  margin-bottom:.5em;
  text-transform: uppercase;
}


/*****************************************************************************/
/*
/* Syllabus
/*
/*****************************************************************************/

#syllabus {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.4em;
}

#syllabus a {
border-bottom: 1px dotted #666;
}

#syllabus a:hover {
color:#aa3333;
}

#syllabus h3 {
text-transform: uppercase;
font-size:120%;
font-weight:bold;
margin-top:1em 0 .5em 0;
color:#880000;
}


#syllabus h4 {
font-size:110%;
font-weight:bold;
margin-top:1em 0 0 0;
}

#syllabus p.reading {
margin-top:0;
}

#syllabus li {
margin:0 0 .8em 0em;
}

#syllabus li.due {
text-transform: uppercase;
color: #cc0000;
font-size:120%;
} 

#syllabus ul {
margin: .5em 0 1em 1.5em;
line-height: 1.3em;
}

#syllabus .schedule {
  margin-top:3em;
  border:none;
}
 
#syllabus .schedule ul {
list-style-type: none;
margin-left:.1em;
}


#syllabus .dateicon {
  width: 42px; height: 44px; float:left;
  background: #fcfcfc; 
  background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
  background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
  background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  margin-left:-68px;
}

#syllabus .dateicon p {
  font-family: Helvetica, sans-serif; 
  font-size: 22px; text-align: center; color: #9e9e9e;
  margin:0;
  padding-bottom:2px; 
}

#syllabus .dateicon p span {

  background: #d10000; 
  background: linear-gradient(top, #d10000 0%, #7a0909 100%);
  background: -moz-linear-gradient(top, #d10000 0%, #7a0909 100%);
  background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);
  font-size: 16px; font-weight: normal; color: #fff; text-transform: uppercase;   
  display: block;
  border-top: 1px solid #a13838;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  padding: 0px 0 0px 0;
  margin:0;
}

#syllabus .week, #syllabus .week-2 {
  margin-bottom:2em;
  padding: 0 1em 0 1em;
}

#syllabus .week {
border:1px dotted #cccccc;
background:none;
}

#syllabus .week-2 {
border:1px dotted #cccccc;
background:#fef5f5;
}


/*****************************************************************************/
/*
/* CV
/*
/*****************************************************************************/

.cv {
  line-height: 1.3em;
  font-family: 'Oxygen', sans-serif;
  font-size: 80%;
}

.cv ul {
  list-style-type: none
}

.cv li {
  margin:0 0 1em 0em;
  padding:0;
}

.cv li li{
  margin:0 0 0 0;
  padding:0;
}

.cv h3{
  line-height: 1.5em;
}

@media screen and (max-width: 560px) {
  
  nav h1.title {
    display:none;
  }

nav h1.navheader {
  font-size: 200%;
}

  a {
    text-decoration: none;
    border:none;
  }

  .slide-trigger { display: block; }
    .no-js .slide-trigger { display: none; }
  .navigation { display: none; }
    .no-js .navigation { display: block; }
  .navigation { margin: 0 15px; }
  .navigation li { float: none; }
  .navigation li a { border-bottom: 1px solid #fff; }
}


/*****************************************************************************/
/*
/* PRINTING
/*
/*****************************************************************************/
@media print {

  body {
    font-size:80%;
  }

  .site {
    width:42em;
   }

  .header {
    display:none;
  }

  .footer {
    display:none;
  }

}