{% assign cards = include.cards %}

{% for card in cards %}
<div class="card-horizontal card-list-item">
  {% assign card_href = card.link | default: card.url %}
  <a href="{{ card_href }}">
    <div class="card-list-row">
      <div class="card-list-media">
        <img src="{{site.baseurl}}{{ card.thumbnail }}" class="card-image" alt="..." style="object-fit: cover; height: 200px; width: 100%;">
      </div>
      <div class="card-list-content">
        <div class="card-body">
            <h3 class="card-title">{{ card.title }}</h3>
            <p class="card-text"> {{ card.summary }} </p>
        </div>
      </div>
    </div>
  </a>
</div>
{% endfor %}