<div id="perm-nav-bar">
     <h1 class="navheader slide-trigger"><a href="/">fredgibbs</a><span><img src="/images/icons/menu-icon.png"/></span></h1>
      <ul class="navigation group">
        <li><a href="/courses/index.html">back to courses</a></li>
        <li>digital-methods</li>
        <li><a class="" href="/courses/digital-methods/index.html">home</a></li>
        <li><a href="/courses/digital-methods/schedule.html">schedule</a></li>

      </ul>
</div>

<div id="HiddenMenu">

<div class="container">
<div class="month-col" style="clear:both">
<ul>
<li class="date">Aug 18 - 22</li>
<li class="topic"><a href="#1">The DH Phenomenon</a></li>
<li class="date">Aug 25 - 29</li>
<li class="topic"><a href="#2">Core Principles of DH</a></li>
</ul>
</div>


<div class="month-col">
<ul>
<li class="date">Sep 01 - 05</li>
<li class="topic"><a href="#3">Exhibiting History Online</a></li>

<li class="date">Sep 08 - 12</li>
<li class="topic"><a href="#4">The New Publishing</a></li>

<li class="date">Sep 15 - 19</li>
<li class="topic"><a href="#5">Spatial History + GIS</a></li>

<li class="date">Sep 22 - 26</li>
<li class="topic"><a href="#6">Geospatial Humanities</a></li>

<li class="date">Sep 29 - Oct 03</li>
<li class="topic"><a href="#7">Thinking about Data</a></li>
</ul>
</div>

<div class="month-col">
<ul>
<li class="date">Oct 06 - 10</li>
<li class="topic"><a href="#8">Scripting Basics</a></li>

<li class="date">Oct 13 - 17</li>
<li class="topic"><a href="#9">Text Mining</a></li>

<li class="date">Oct 20 - 24</li>
<li class="topic"><a href="#10">Topic Modeling</a></li>

<li class="date">Oct 27 - 31</li>
<li class="topic"><a href="#11">Visualizing History</a></li>
</ul>
</div>

<div class="month-col">
<ul>
<li class="date">Nov 03 - 07</li>
<li class="topic"><a href="#12">Reimagining History</a></li>

<li class="date">Nov 10 - 14</li>
<li class="topic"><a href="#13">Participatory Humanities</a></li>

<li class="date">Nov 17 - 21</li>
<li class="topic"><a href="#14">Critiquing the Digital</a></li>

<li class="date">Nov 24 - 28</li>
<li class="topic"><a href="#15">Work Time</a></li>
</ul>
</div>

<div class="month-col last">
<ul>
<li class="date">Dec 01 - 05</li>
<li class="topic"><a href="#1">Final Presentations</a></li>
</ul>
</div>

</div>
</div>