<footer class="pt-4 my-md-5 pt-md-5 border-top">
<div class="container">
	<div class="row">
    <div class="col-6 col-md">
			<div class="col-6 col-md">
	      <h5>Meta</h5>
	      <ul class="list-unstyled text-small">
	        <li><a href="/about">About</a></li>
	        <li><a href="/projects">Projects</a></li>
	        <li><a href="/cv">CV</a></li>
	      </ul>
	    </div>
      <h5>Recent Courses</h5>
      <ul class="list-unstyled text-small">
        <li><a href="/courses/food-technology-society">Food, Technology, Society</a></li>
        <li><a href="/courses/landscape-memory">Landscape and Memory</a></li>
        <li><a href="/courses/historiography">Historiography</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Possibly Useful</h5>
      <ul class="list-unstyled text-small">
        <li><a href="/posts">Posts</a></li>
        <li><a href="/tutorials">Tutorials</a></li>
        <li><a href="/posters">Posters</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>
