<footer class="site-footer">
	<div class="container site-footer-inner">
		<div class="site-footer-grid">

			<div class="site-footer-col">
	      <h5>Meta</h5>
	      <ul class="site-footer-list">
	        <li><a href="/about">About</a></li>
	        <li><a href="/projects">Projects</a></li>
	        <li><a href="/cv">CV</a></li>
	      </ul>
	    </div>

	    <div class="site-footer-col">
	      <h5>Possibly Useful</h5>
	      <ul class="site-footer-list">
					<li><a href="/tutorials">Tutorials</a></li>
					<li><a href="/posts">Posts</a></li>
	        <li><a href="/presentations">Presentation</a></li>
	        <li><a href="/portfolio/flyers">Flyers</a></li>
	      </ul>
	    </div>

			<div class="site-footer-col">
	      <h5>Recent Courses</h5>
	      <ul class="site-footer-list">
	        <li><a href="/courses/food-technology-society">Food, Technology, Society</a></li>
	        <li><a href="/courses/landscape-memory">Landscape and Memory</a></li>
	        <li><a href="/courses/historiography">Historiography</a></li>
	        <li><a href="/courses/">All courses</a></li>
	      </ul>
	    </div>

  	</div>
	</div>
</footer>
