<footer class="syllabus-footer">
  <div class="syllabus-footer-inner">
    <a class="syllabus-footer-brand" href="/courses/{{page.course-slug}}">
      {{page.course-title}}
    </a>
    <ul class="syllabus-footer-nav">
      <li><a href="/courses/{{page.course-slug}}">Home</a></li>
      <li><a href="/courses/{{page.course-slug}}/schedule">Schedule</a></li>
      <li><a href="/courses/{{page.course-slug}}/links-guides">Links and Guides</a></li>
      <li><a href="/courses/">Other Courses</a></li>
    </ul>
  </div>
</footer>
