<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>{% if page.title %}{{ page.title | escape }} • {{ site.title | escape }}{% else %}{{ site.title | escape }} | {{ site.tagline | escape }}{% endif %}</title>

  <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />

  <meta name="description" content="{{ page.description }}">
  <meta name="DCTERMS.title" content="{{ page.title }}">
  <meta name="DCTERMS.creator" content="{{ page.author }}">
  <meta name="DCTERMS.type" content="blogPost">
  <meta name="DCTERMS.date" content="{{ page.date }}">
  <meta name="DCTERMS.source" content="fredgibbs.net" />
  <meta name="DCTERMS.language" content="en" />
  <meta name="DCTERMS.license" content="https://creativecommons.org/licenses/by-nc/4.0/legalcode" />

  <link rel="icon" href="{{site.baseurl}}/favicon.ico">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Font Awesome Icons -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <!-- jquery UI CSS -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- bigfoot.js (for fancy non-footnotes with auto numbering) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bigfoot/2.1.4/bigfoot-number.css" >

  <!-- fancybox CSS for posters -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous" />

  <!-- default CSS-->
  <link href="{{site.baseurl}}/assets/css/main.css" rel="stylesheet">

  </head>
