<nav class="site-nav course-nav">
  <div class="container site-nav-inner">
  <a class="site-nav-brand" href="/courses/{{page.course-slug}}">{{page.course-title}}</a>
  <button class="site-nav-toggle" type="button" data-nav-target="#courseNavMenu" aria-controls="courseNavMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="site-nav-toggle-icon"></span>
  </button>

  <div class="site-nav-menu" id="courseNavMenu">
    <ul class="site-nav-list">
      <li class="site-nav-item"><a class="site-nav-link" href="/courses/{{page.course-slug}}">Home</a></li>
      <li class="site-nav-item"><a class="site-nav-link" href="/courses/{{page.course-slug}}/schedule">Schedule</a></li>
      <li class="site-nav-item"><a class="site-nav-link" href="/courses/{{page.course-slug}}/links-guides">Links and Guides</a></li>
      <li class="site-nav-item"><a class="site-nav-link" href="/courses/">Other Courses</a></li>
    </ul>
  </div>
  </div>
</nav>
