<nav class="navbar navbar-toggleable-sm fixed-top navbar-light ">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <a class="navbar-brand" href="./">{{page.title}}</a>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="./"></a></li>
      <li><a class="nav-link" href="./">home</a></li>
      <li><a class="nav-link" href="schedule.html">schedule</a></li>
      <li><a class="nav-link" href="../">other courses</a></li>
    </ul>
    </div>
  </div>
</nav>
