<div id="HiddenMenu">

     <h1 class="navheader slide-trigger"><a href="/">fredgibbs</a><span><img src="/images/icons/menu-icon.png"/></span></h1>
      <ul class="navigation group">
        <li><a class="navheader" href="/">fredgibbs</a></li>      
        <li><a href="/about">about</a></li>
        <li><a href="/posts">posts</a></li>
        <li><a href="/publications">publications</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="/courses">courses</a></li>
        <li><a href="/tutorials">tutorials</a></li>
        <li><a href="/cv">cv</a></li>
      </ul>

</div>