<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{site.baseurl}}/index">fred gibbs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{site.baseurl}}/index">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/about">About</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/projects">Projects</a></li>

    <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/courses">Courses</a></li>
    <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/tutorials">Tutorals</a></li>

    <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/posts">Posts</a></li>
    <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/cv">CV</a></li>
    <li class="nav-item"><a class="nav-link bonus" href="{{site.baseurl}}/postetrs">posters</a></li>

<!--      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{'/guides/getting-started' | absolute_url}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Instruction Guides
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{'/guides/getting-started' | absolute_url}}"">Getting started</a>
          <a class="dropdown-item" href="{{site.baseurl}}/guides/loading-images">Loading images</a>
          <a class="dropdown-item" href="{{site.baseurl}}/guides/code">Code samples</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">More to come...</a>
        </div>
      </li>
-->

<!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
-->
    </ul>
<!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
-->
  </div>
</nav>


<!--
<nav class="navbar navbar-toggleable-sm fixed-top navbar-light ">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <a class="navbar-brand" href="/">fred gibbs</a>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/about">about</a></li>
      <li><a class="nav-link" href="/projects">projects</a></li>
      <li><a class="nav-link" href="/posts">posts</a></li>
      <li><a class="nav-link" href="/courses">courses</a></li>
      <li><a class="nav-link" href="/tutorials">tutorials</a></li>
      <li><a class="nav-link" href="/cv">cv</a></li>
      <li><a class="nav-link bonus" href="/posters">posters</a></li>
    </ul>
    </div>
  </div>
</nav>
-->
