<nav class="navbar navbar-full navbar-fixed-top">
<button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
  <div class="container">
  <div class="nav navbar-nav">
    <a class="nav-item navbar-brand" href="/">fred gibbs</a>
    <a class="nav-item nav-link" href="/about">about</a>
    <a class="nav-item nav-link" href="/projects">projects</a>
    <a class="nav-item nav-link" href="/posts">posts</a>    
    <a class="nav-item nav-link" href="/posters">posters</a>    
    <a class="nav-item nav-link" href="/courses">courses</a>    
    <a class="nav-item nav-link" href="/tutorials">tutorials</a>    
    <a class="nav-item nav-link" href="/cv">cv</a>    
  </div>
  </div>
  </div>
</nav>