<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body data-spy="scroll" data-target="#side-nav" data-offset="50">

	{% include nav.html %}

	<div class="container">
		{{ content }}
		{% include footer.html %}
	</div> <!-- /container -->

	<script>
		$( document ).ready(function() {
			console.log("doc ready");
			//$('#body').scrollspy({ target: '#navbar-side' });
			//console.log("loaded spy");
			$('#side-nav').on('activate.bs.scrollspy', function () {
			  	alert("spied");
			});
			//$('#side-nav').scrollspy();
		});
	</script>

</body>

</html>
