<!DOCTYPE html>
<html>
<body>

{% include header-syllabus-top-nav.html %}

<div id="syllabus-new">

<div class="container">
<ul class="navigation group">
  <li class="title"><a href="#top">Digital Mapping</a></li>
  <li><a href="#monday">monday</a></li>
  <li><a href="#tuesday">tuesday</a></li>
  <li><a href="#wednesday">wednesday</a></li>
  <li><a href="#thursday">thursday</a></li>
  <li><a href="#friday">friday</a></li>
  <li class="low"><a href="/courses">back to courses</a></li>
</ul>
</div>

<div class="container">
{{ content }}
</div>

</div>


<div class="container">
{% include footer.html %}
</div>

</body>
</html>
