<!DOCTYPE html>
<html>
<body>

{% include header-course.html %}

    <script>

        $(function() {

          $('.slide-trigger').collapsable();

          var hiddenMenu = $('#HiddenMenu'),
              hoverSpace = $('#HoverSpace');
          var permNavBar = $('#perm-nav-bar');

          hiddenMenu.css({
                'top': "0px"
          });

          hoverSpace.on('mouseenter', function(event) {    
             hiddenMenu.animate({
                'top': "0"
            });
          });

          hoverSpace.on('mouseleave', function() {
            if ($("body").scrollTop() > 0) {
               hiddenMenu.animate({
                  'top': "-3em"
              });
            }
          });

        });

    </script>

<div id="HoverSpace">
<div id="HiddenMenu">
<div class="container">
<h1 class="navheader slide-trigger"><a href="/">SHWG</a><span><img src="/images/icons/menu-icon.png"/></span></h1>
<ul class="navigation group">
  <li class="title"><a href="#top">SHWG</a></li>
  <li><a href="index.html">home</a></li>
  <li><a href="resources.html">resources</a></li>
  <li><a href="schedule.html">schedule</a></li>
</ul>
</div>
</div>
</div>

<div class="container">
  <div id="syllabus-new">
{{ content }}
  </div>
</div>

</div>


</body>
</html>
